{% extends "base.html" %}

{% block title %}About - Zafiran{% endblock %}

{% block content %}

<section class="page-hero about-page-hero">
  <div class="container">
    <div class="hero-content about-page-content">
      <div class="hero-text">
        <h1 class="hero-title about-page-title">Эволюционная криптоплатформа для цифровой эпохи</h1>
        <p class="hero-subtitle about-page-subtitle">
            Zafiran объединяет несколько видов профессиональной деятельности на рынке криптовалют. Компания имеет лицензию от регулятора и надзора за финансовыми рынками Кыргызской Республики.        </p>
        <a href="https://avaecapital.com//form.html" class="btn-primary">Давайте начнем</a>
      </div>
    </div>
  </div>
</section>

<section class="info-section">
  <div class="container">
    <div class="info-container">
      <div class="info-text">
        <p>
          Наша компания является инновационной платформой криптовалютного трейдинга, предлагающей широкий спектр услуг как частным, так и корпоративным клиентам. С глобальной структурой мы работаем в нескольких юрисдикциях, обеспечивая соответствие требованиям и предоставляя надежные решения для оптимизации крипто-транзакций и минимизации связанных с ними рисков.        </p>
        <p style="margin-top: 20px;">
          Более 15 лет успешно создаём и развиваем продукты для наших клиентов.
        </p>
      </div>
      <div class="info-blocks">
        <div class="info-block">
          <h3>Брокерская деятельность</h3>
          <p>
            Наша компания является инновационной платформой криптовалютного трейдинга, предлагающей широкий спектр услуг как частным, так и корпоративным клиентам. С глобальной структурой мы работаем в нескольких юрисдикциях, обеспечивая соответствие требованиям и предоставляя надежные решения для оптимизации крипто-транзакций и минимизации связанных с ними рисков.          </p>
        </div>
        <div class="info-block info-block-full-radius">
          <h3>Более 15 лет успешно создаём и развиваем продукты для наших клиентов.</h3>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}